
.manage-users-header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  gap: 16px;
}
.Page{
    margin-top: -20px ;
}

.page-title {
  font-size: 24px;
  font-weight: bold;
  color: #89343B;
  margin: 0;
}

.button-toggle-group {
  display: flex;
  gap: 10px;
}


.toggle-btn {
  background-color: #fffaf5;
  color: #89343B;
  border: 1px solid #f5eee9;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  padding: 8px 24px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  text-transform: none;
}

.toggle-btn:hover {
  background-color: #ffe066;
}

.toggle-btn.active {
  background-color: #F8C400;
  color: #89343B;
}

.admin-manage-table {
  margin-top: 20px;
  margin-bottom: 40px; 
  max-height: calc(100vh - 250px); 
  overflow-y: auto;
  padding-right: 10px;
  background-color: #fffdfb;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  border: 1px solid #f5eee9;
}

.admin-manage-table table {
  width: 100%;
  min-width: 600px; 
  border-collapse: collapse;
}

@media (max-width: 768px) {
  .admin-manage-table {
    overflow-x: auto;
  }

  .admin-manage-table table {
    min-width: 100%;
  }
}


.status-btn {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  text-transform: none;
  transition: background-color 0.2s ease;
}

.status-btn.active {
  background-color: #4CAF50 !important;
  color: #ffffff!important;    
}

.status-btn.inactive {
  background-color: #89343B !important;
  color: #ffffff !important;
}
.status-btn.pending {
  background-color: #fff3c4 !important;
  color: #a67c00 !important;
}
