body,
input {
  background: linear-gradient(to bottom, #fdf8f3, #f5eee9);
}

button {
  font-family: 'Poppins', sans-serif;
  color: #34251F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body,
input {
  font-family: 'Poppins', sans-serif;
  color: #34251F;
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar-left {
  margin-left: 50px;
}